In [45]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

# Load the dataset
census = pd.read_csv('Data/census_data.csv')
census.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [46]:
# Identify the categorical columns
cat_cols = ['workclass', 'education', 'marital_status', 'occupation', 'relationship', 'race', 'gender', 'native_country']

# Perform one-hot encoding for categorical columns
census = pd.get_dummies(census, columns=cat_cols, drop_first=True)

# Perform label encoding for the target variable
encoder = LabelEncoder()
census['income'] = encoder.fit_transform(census['income_bracket'])
census.head()

,age,education_num,capital_gain,capital_loss,hours_per_week,income_bracket,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,...,native_country_ Puerto-Rico,native_country_ Scotland,native_country_ South,native_country_ Taiwan,native_country_ Thailand,native_country_ Trinadad&Tobago,native_country_ United-States,native_country_ Vietnam,native_country_ Yugoslavia,income
0,39,13,2174,0,40,<=50K,False,False,False,False,...,False,False,False,False,False,False,True,False,False,0
1,50,13,0,0,13,<=50K,False,False,False,False,...,False,False,False,False,False,False,True,False,False,0
2,38,9,0,0,40,<=50K,False,False,False,True,...,False,False,False,False,False,False,True,False,False,0
3,53,7,0,0,40,<=50K,False,False,False,True,...,False,False,False,False,False,False,True,False,False,0
4,28,13,0,0,40,<=50K,False,False,False,True,...,False,False,False,False,False,False,False,False,False,0

In [47]:
census.head()

x_train, x_test, y_train, y_test = train_test_split(x_data, y_labels, test_size=0.3, random_state=101)

# Create a logistic regression model
model = LogisticRegression()

# Fit the model to the training data
model.fit(x_train, y_train)

# Make predictions on the test data
y_pred = model.predict(x_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

# Generate a classification report
report = classification_report(y_test, y_pred)
print("Classification Report:\n", report)

Accuracy: 0.8360118742962432
Classification Report:
               precision    recall  f1-score   support

           0       0.87      0.92      0.90      7436
           1       0.70      0.56      0.62      2333

    accuracy                           0.84      9769
   macro avg       0.78      0.74      0.76      9769
weighted avg       0.83      0.84      0.83      9769

C:\Users\lahbi\anaconda3\envs\PFE\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [54]:
import joblib

# Save the model to a file
logreg_model_filename = 'logistic_regression_model.joblib'
joblib.dump(model, logreg_model_filename)

print("Logistic Regression Model saved to", logreg_model_filename)

Logistic Regression Model saved to logistic_regression_model.joblib

In [55]:
# Load the model from the file
loaded_logreg_model = joblib.load('logistic_regression_model.joblib')

# Now you can use loaded_logreg_model to make predictions
# Example: loaded_logreg_model.predict(new_data)

In [56]:
import pandas as pd

# Create a new DataFrame for the new user
#0
new_user = pd.DataFrame({
    'age': [22],
    'workclass': [' Private'],
    'education': [' HS-grad'],
    'education_num': [9],
    'marital_status': [' Never-married'],
    'occupation': [' Adm-clerical'],
    'relationship': [' Own-child'],
    'race': [' White'],
    'gender': [' Female'],
    'capital_gain': [0],
    'capital_loss': [0],
    'hours_per_week': [28],
    'native_country': [' United-States']
    
})
#1
# new_user = pd.DataFrame({
#     'age': [47],
#     'workclass': [' Private'],
#     'education': [' HS-grad'],
#     'education_num': [9],
#     'marital_status' : [' Married-civ-spouse'],
#     'occupation': ['Machine-op-inspct'],
#     'relationship': [' Wife'],
#     'race': [' Black'],
#     'gender': [' Female'],
#     'capital_gain': [15024],
#     'capital_loss': [0],
#     'hours_per_week': [40],
#     'native_country': [' United-States']
# })
# Perform label encoding for the categorical columns in the new user data
for col in cat_cols:
    encoder = LabelEncoder()
    new_user[col] = encoder.fit_transform(new_user[col])



# Ensure the columns match the columns in the training data
# If a column is missing in the new_user data, add it and set the value to 0
for col in x_train.columns:
    if col not in new_user.columns:
        new_user[col] = 0

# Reorder the columns to match the order in the training data
new_user = new_user[x_train.columns]

# Predict using the trained model
predicted_income = loaded_logreg_model.predict(new_user)

# Print the predicted income category
if predicted_income[0] == 0:
    print('Predicted income category: <=50k')
else:
    print('Predicted income category: >50k')

Predicted income category: <=50k

C:\Users\lahbi\AppData\Local\Temp\ipykernel_7964\1929723291.py:48: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_user[col] = 0
C:\Users\lahbi\AppData\Local\Temp\ipykernel_7964\1929723291.py:48: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_user[col] = 0
C:\Users\lahbi\AppData\Local\Temp\ipykernel_7964\1929723291.py:48: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_user[col] = 0